ul.tree, ul.tree ul {
    list-style-type: none;
    background: url(../img/vline.png) repeat-y;
    margin: 0;
    padding: 0;
}

ul.tree li.vline {
    list-style-type: none;
    background: url(../img/vline.png) repeat-y;
    margin: 0;
    padding: 0;
    height: 6px;
}

ul.tree ul {
    margin-left: 10px;
}

ul.tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url(../img/node.png) no-repeat;
    color: #369;
    font-weight: bold;
}

ul.tree li:last-child {
    background: #fff url(../img/lastnode.png) no-repeat;
}

.commit .author {
    color: #95a5a6;
}

.commit .date {
    color: #cbd0d3;
}

.version {
    color: #95a5a6;
}

.leaf-header {
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100%;
    z-index: 100;
}

.leaf-body {
    position: absolute;
    top: 90px;
    z-index: 0;
}

.btn-first {
    border-bottom-left-radius: 0 !important;
}